{% load static %}

<!-- Custom styles -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <!-- Custom styles -->
     <link rel="stylesheet" href="{% static 'style2.css' %}">

    <style>
    </style>


</head>

<body class="general-container1">

{% block content %}

    <script type="text/javascript">
    $(document).ready(function(){
        $('button').click(function(){
            $('.general-container1').children().fadeOut("fast");
        });
    });
    </script>
        <div class="general-container3 text-center" style="width:1358px">



            <div class="fake_img_no_border">

                <form action="" method="get" class="text-center"> {% csrf_token %}
                     <div>
                        <button type="submit" value="1" name="BUY" class="button_top_left btn-top">
                            Buy something!
                        </button>
                     </div>

                </form>
            </div>
            <div class="fake_img_no_border">
                <h1 class="title5">DON'T PUSH THE BUTTON GO BACK IN YOUR BROWSER!</h1>
            </div>
            <div class="fake_img_no_border">

                <form action="" method="get" class="text-center"> {% csrf_token %}
                    <div>
                     <div>
                        <button type="submit" value="1" name="FINISH" class="button_top_right btn-top">
                            I give up!
                        </button>
                     </div>
                    </div>

                </form>
            </div>

        </div>

        <div >
            <div class="row">
                <div class="container" style="width:1358px">

                    {% for line in imgs %}
                        <div class="fake_img">
                            {% for image_item in line %}
                                <img src="{{ image_item.image.url }}" class="img-responsive">
                            {% endfor %}
                        </div>
                    {% endfor %}


                </div>

                <div class="container" style="width:1358px;">
                    <form action="" method="post" class="text-center"> {% csrf_token %}
                        <div style="border:1px solid #dddddd;">
                            <div class="title4"> Choose column by color: </div>
                            {% for radio in form.Answer_color %}
                                <div class="fake_img_no_border">

                                        <div class="btn btn-primary btn-orange button_choose_shoe">
                                            {{ radio }}
                                        </div>

                                </div>
                            {% endfor %}
                        </div>
                        <div style="border:1px solid #dddddd;">
                            <div class="title4"> Choose column by shape: </div>
                            {% for radio in form.Answer_shape %}
                                <div class="fake_img_no_border">
                                        <div class="btn btn-primary btn-orange button_choose_shoe">
                                            {{ radio }}
                                        </div>

                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="btn btn-primary btn-orange">Submit</button>
                    </form>
                </div>




        </div>


{% endblock %}


</body>