{% load static %}

<!-- Custom styles -->
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
    <!-- Custom styles -->
     <link rel="stylesheet" href="{% static 'style2.css' %}">

    <style>
    </style>


</head>


<body class="general-container1">
{% block content %}
            <h1 class="title">Step 4: Find the match</h1>
            <p class="title1">
                It is an interactive search system.<br>
                In each iteration some shoes are shown. They are structured by columns.<br>
                In each iteration, you are asked to understand if the columns differ by color or shape. <br>
                If they differ you should choose the most similar column to the shoe that you saw by color or shape respectively.<br>
                If you see the good match push the button "Buy something!" in the top of the page.<br>
                If you can't find something similar during 15 iterations you can push button "I give up!"
                in the top of the page.<br>
                The number of performed iterations is shown at the top of the page.<br>
                Some questions are spam detector. You should answer them correctly.<br>
                These questions look like normal ones, but there are no buttons "Buy something!" and "I give up!"
            </p>


                                <div>
                                    <form action="/search/{{game_id}}/" method="get" class="text-center"> {% csrf_token %}
                                    <div>
                                        <button type="submit" name="NEXT" class="btn btn-primary btn-orange btn-large btn-center">
                                        Start the search session!
                                        </button>
                                    </div>

                                    </form>
                                </div>




                </div>
              </div>
            </div>

        </div>


{% endblock %}
</body>